<!DOCTYPE html>
<html>

<head>
  <title>
    Turnos
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <div class="logo">Turnos APP</div>
    <nav>
      <ul>
        <li><a href="#">Mis Turnos</a></li>
        <li><a href="#">Nuevo turno</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="cards">
      <div class="card">
        <h3>titulo</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui, quod! Odit quam vitae dicta, molest</p>
        <button>Ver +</button>
      </div>
      <div class="card">
        <h3>titulo</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui, quod! Odit quam vitae dicta, molest</p>
        <button>Ver +</button>
      </div>
      <div class="card">
        <h3>titulo</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui, quod! Odit quam vitae dicta, molest</p>
        <button>Ver +</button>
      </div>
    </section>
  </main>

</body>

</html>